*{
    box-sizing: border-box;
}

body{
    margin: 5px;
}

ul li{
    padding-left: 0;
}

@import "./sass/utils/variables";
@import "./sass/utils/fonction";
@import "./sass/utils/mixins";
@import "./sass/layouts/header";
@import "./sass/layouts/explorer";
@import "./sass/layouts/fonctionnement";
@import "./sass/layouts/restaurant";
@import "./sass/layouts/footer";

