@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes apparition-menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes apparition-menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes coche {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70px);
  }
}
@keyframes coche {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70px);
  }
}
@-webkit-keyframes coche_desc {
  0% {
    padding-right: 75px;
  }
  100% {
    padding-right: 145px;
  }
}
@keyframes coche_desc {
  0% {
    padding-right: 75px;
  }
  100% {
    padding-right: 145px;
  }
}
@-webkit-keyframes coche_rotation {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes coche_rotation {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes disparition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes disparition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/*@keyframes sablier-1 {
    0%{
        opacity: 100%;
    }
    10%{
        opacity: 0%;
    }
    40%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    80%{
        opacity: 100%;
    }
    90%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}*/
/*@keyframes sablier-3 {
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    40%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    80%{
        opacity: 0%;
    }
    90%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}*/
@-webkit-keyframes sablier-rotation {
  0% {
    transform: rotateZ(0);
  }
  40% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
  }
  90% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes sablier-rotation {
  0% {
    transform: rotateZ(0);
  }
  40% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
  }
  90% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes sablier-3-h {
  0% {
    transform: scaleY(0);
  }
  10% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  30% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes sablier-3-h {
  0% {
    transform: scaleY(0);
  }
  10% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  30% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(0);
  }
}
@-webkit-keyframes sablier-1-h {
  10% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  30% {
    transform: scaleY(0);
  }
  60% {
    transform: scaleY(0);
    transform-origin: top;
  }
  80% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes sablier-1-h {
  10% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  30% {
    transform: scaleY(0);
  }
  60% {
    transform: scaleY(0);
    transform-origin: top;
  }
  80% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
#chargement {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #FF79DA, #99E2D0);
  height: 100vh;
  width: 100%;
  -webkit-animation: disparition 0.5s linear 3s 1 normal both;
          animation: disparition 0.5s linear 3s 1 normal both;
}
#chargement p {
  position: absolute;
  top: 60vh;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  font-family: "shrikhand";
}
#chargement .encart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 60px;
  padding: 4px;
  background-color: #9356DC;
  border-radius: 5%;
  -webkit-animation: sablier-rotation 2.5s ease-in-out 4 normal both;
          animation: sablier-rotation 2.5s ease-in-out 4 normal both;
}
#chargement .encart .sablier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 100%;
  width: 100%;
  border: solid #fff 3px;
  padding: 4%;
}
#chargement .encart .sablier.partie {
  display: flex;
  justify-content: flex-end;
}
#chargement .encart .sablier.partie--1 {
  display: flex;
  justify-content: flex-end;
  height: 48%;
  border-radius: 3% 3% 30% 30%;
}
#chargement .encart .sablier.partie--1.remplissage {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
  background: linear-gradient(to bottom right, #FF79DA, #99E2D0);
  -webkit-animation: sablier-1-h 2.5s ease-in-out 0s 4 normal both;
          animation: sablier-1-h 2.5s ease-in-out 0s 4 normal both;
}
#chargement .encart .sablier.partie--2 {
  height: 4%;
  width: 40%;
  background-color: #fff;
}
#chargement .encart .sablier.partie--3 {
  display: flex;
  justify-content: flex-end;
  height: 48%;
  border-radius: 30% 30% 3% 3%;
  background-color: #fff;
}
#chargement .encart .sablier.partie--3.remplissage {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
  background: linear-gradient(to bottom right, #FF79DA, #99E2D0);
  -webkit-animation: sablier-3-h 2.5s ease-in-out 0s 4 normal both;
          animation: sablier-3-h 2.5s ease-in-out 0s 4 normal both;
}

header {
  position: relative;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
header img:nth-child(1) {
  width: 170px;
  display: flex;
  margin: 25px 25px 6.25px 25px;
}
header img:nth-child(2) {
  width: 100%;
  height: 38vh;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: visible;
}
header a {
  position: absolute;
  top: 20px;
  left: 25px;
}

header i, header i:hover, header i:visited {
  background-color: #fff;
  color: #000;
}

@media screen and (min-width: 600px) {
  header img:nth-child(1) {
    width: 250px;
    display: flex;
    margin: 50px 50px 12.5px 50px;
  }
  header img:nth-child(2) {
    width: 100%;
    height: 30vh;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: visible;
  }
  header a {
    top: 50px;
  }
}
#explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  color: #000;
  padding: 0 0 25px 0;
  text-align: center;
}
#explorer h2, #explorer p {
  padding: 0 25px 0 25px;
}

#explorer .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 215px;
  height: 50px;
  background-color: #FF79DA;
  color: #fff;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 35px;
  box-shadow: 5px 5px 15px 3px rgba(100, 100, 100, 0.2);
}
#explorer .btn:hover {
  background-color: #ff88de;
  color: #fff;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
  box-shadow: 5px 5px 15px 3px rgba(50, 50, 50, 0.3);
}

#explorer form {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ababab, #DEDEDE 10%);
}
#explorer form i {
  margin-right: 15px;
}
#explorer form input {
  background-color: #DEDEDE;
  border: none;
}

#fonctionnement {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
#fonctionnement .btn {
  height: 70px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  color: #000;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(100, 100, 100, 0.2);
}
#fonctionnement .btn:hover {
  background-color: #F5EDFF;
  color: #000;
}
#fonctionnement .btn:hover i {
  color: #9356DC;
}
#fonctionnement .btn i {
  margin: 0 15px 0 15px;
}
#fonctionnement .btn p:first-child {
  position: absolute;
  left: -10px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #9356DC;
  color: #fff;
}

@media screen and (min-width: 800px) {
  #fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
  }
  #fonctionnement .btn {
    width: 31%;
  }
  #fonctionnement h2 {
    width: 100%;
  }
}
#restaurants {
  padding: 25px;
  background-color: #f2f2f2;
  color: #000;
}
#restaurants a {
  width: 100%;
  text-decoration: none;
  background-color: #fff;
  color: #000;
}
#restaurants a:visited {
  background-color: #fff;
  color: #000;
}
#restaurants a:hover {
  background-color: #fff;
  color: #000;
}

#restaurants a {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 225px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 3px rgba(100, 100, 100, 0.2);
}
#restaurants a img {
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
#restaurants a h3 {
  margin: 15px 0 0 15px;
  height: 20px;
}
#restaurants a p {
  margin: 0 0 15px 15px;
  height: 15px;
}
#restaurants a .fa-stack {
  display: flex;
  position: absolute;
  cursor: pointer;
  bottom: 15px;
  right: 25px;
}
#restaurants a .fa-full {
  opacity: 0;
  transition: 1s;
  background: linear-gradient(#9356DC 20%, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#restaurants a .fa-full:hover {
  opacity: 1;
}
#restaurants a .nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 5px;
}
#restaurants a .nouveau p {
  padding: 0;
  text-align: center;
  margin: 6px 10px 6px 10px;
  font-weight: 500;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  #restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #restaurants .restaurant--carte {
    width: 48%;
  }
  #restaurants h2 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  #restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
  }
  #restaurants .restaurant--carte {
    width: 23%;
  }
  #restaurants h2 {
    width: 100%;
  }
}
#menu {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 100px 25px;
  margin-top: -40px;
  border-radius: 40px 40px 0 0;
  position: relative;
  background-color: #f2f2f2;
  color: #000;
}
#menu .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
  padding-right: 20px;
}
#menu .titre .fa-heart {
  cursor: pointer;
  transform: translateX(-15px);
}
#menu .titre .fa-full {
  opacity: 0;
  transition: 1s;
  background: linear-gradient(#9356DC 20%, #99E2D0);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#menu .titre .fa-full:hover {
  opacity: 1;
}
#menu .btn {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, 0);
  bottom: 25px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 215px;
  height: 50px;
  background-color: #FF79DA;
  color: #fff;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 35px;
}
#menu .btn:hover {
  background-color: #ff88de;
  color: #fff;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
  box-shadow: 5px 5px 15px 3px rgba(50, 50, 50, 0.3);
}
#menu .plat {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#menu .plat.plat--1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 150ms 1 normal both;
          animation: apparition-menu 200ms ease 150ms 1 normal both;
}
#menu .plat.plat--1 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--1 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--1 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--1 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--1 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--1 .plat__prix p {
  display: block;
}
#menu .plat.plat--1 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--1:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--1:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--1:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--1:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 300ms 1 normal both;
          animation: apparition-menu 200ms ease 300ms 1 normal both;
}
#menu .plat.plat--2 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--2 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--2 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--2 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--2 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--2 .plat__prix p {
  display: block;
}
#menu .plat.plat--2 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--2:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--2:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--2:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--2:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--3 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 450ms 1 normal both;
          animation: apparition-menu 200ms ease 450ms 1 normal both;
}
#menu .plat.plat--3 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--3 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--3 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--3 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--3 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--3 .plat__prix p {
  display: block;
}
#menu .plat.plat--3 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--3:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--3:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--3:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--3:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--4 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 600ms 1 normal both;
          animation: apparition-menu 200ms ease 600ms 1 normal both;
}
#menu .plat.plat--4 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--4 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--4 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--4 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--4 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--4 .plat__prix p {
  display: block;
}
#menu .plat.plat--4 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--4:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--4:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--4:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--4:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--5 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 750ms 1 normal both;
          animation: apparition-menu 200ms ease 750ms 1 normal both;
}
#menu .plat.plat--5 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--5 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--5 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--5 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--5 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--5 .plat__prix p {
  display: block;
}
#menu .plat.plat--5 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--5:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--5:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--5:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--5:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--6 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 900ms 1 normal both;
          animation: apparition-menu 200ms ease 900ms 1 normal both;
}
#menu .plat.plat--6 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--6 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--6 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--6 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--6 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--6 .plat__prix p {
  display: block;
}
#menu .plat.plat--6 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--6:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--6:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--6:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--6:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--7 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 1050ms 1 normal both;
          animation: apparition-menu 200ms ease 1050ms 1 normal both;
}
#menu .plat.plat--7 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--7 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--7 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--7 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--7 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--7 .plat__prix p {
  display: block;
}
#menu .plat.plat--7 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--7:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--7:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--7:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--7:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--8 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 1200ms 1 normal both;
          animation: apparition-menu 200ms ease 1200ms 1 normal both;
}
#menu .plat.plat--8 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--8 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--8 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--8 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--8 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--8 .plat__prix p {
  display: block;
}
#menu .plat.plat--8 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--8:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--8:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--8:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--8:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--9 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 1350ms 1 normal both;
          animation: apparition-menu 200ms ease 1350ms 1 normal both;
}
#menu .plat.plat--9 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--9 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--9 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--9 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--9 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--9 .plat__prix p {
  display: block;
}
#menu .plat.plat--9 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--9:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--9:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--9:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--9:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--10 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 1500ms 1 normal both;
          animation: apparition-menu 200ms ease 1500ms 1 normal both;
}
#menu .plat.plat--10 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--10 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--10 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--10 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--10 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--10 .plat__prix p {
  display: block;
}
#menu .plat.plat--10 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--10:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--10:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--10:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--10:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--11 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 1650ms 1 normal both;
          animation: apparition-menu 200ms ease 1650ms 1 normal both;
}
#menu .plat.plat--11 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--11 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--11 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--11 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--11 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--11 .plat__prix p {
  display: block;
}
#menu .plat.plat--11 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--11:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--11:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--11:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--11:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}
#menu .plat.plat--12 {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px rgba(90, 90, 90, 0.2);
  background-color: #fff;
  color: #000;
  -webkit-animation: apparition-menu 200ms ease 1800ms 1 normal both;
          animation: apparition-menu 200ms ease 1800ms 1 normal both;
}
#menu .plat.plat--12 p {
  display: block;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--12 .plat__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
}
#menu .plat.plat--12 .plat__desc p:first-child {
  display: block;
  font-size: 17px;
  font-weight: 800;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#menu .plat.plat--12 .plat__desc p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  z-index: 0;
}
#menu .plat.plat--12 .plat__prix {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  height: 70px;
  background-color: #fff;
  width: 70px;
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  font-size: 17px;
  font-weight: 800;
}
#menu .plat.plat--12 .plat__prix p {
  display: block;
}
#menu .plat.plat--12 .plat__coche {
  display: flex;
  width: 70px;
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: -70px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#menu .plat.plat--12:hover .plat__coche {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--12:hover .plat__coche i {
  -webkit-animation: coche_rotation 1s 0s ease-in-out both;
          animation: coche_rotation 1s 0s ease-in-out both;
}
#menu .plat.plat--12:hover .plat__prix {
  -webkit-animation: coche 1s 0s ease-in-out both;
          animation: coche 1s 0s ease-in-out both;
}
#menu .plat.plat--12:hover .plat__desc {
  -webkit-animation: coche_desc 1s 0s ease-in-out both;
          animation: coche_desc 1s 0s ease-in-out both;
}

#menu h3 {
  position: relative;
  text-transform: uppercase;
}

#menu h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 2px;
  width: 40px;
  background-color: #99E2D0;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #menu .menu {
    width: 48%;
  }
  #menu .titre {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #menu .titre .fa-heart {
    transform: translateX(35px);
  }
}
@media screen and (min-width: 1000px) {
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #menu .menu {
    width: 32%;
  }
  #menu .titre {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #menu .titre .fa-heart {
    transform: translateX(50px);
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  padding: 25px;
}
footer a {
  background-color: #000;
  color: #fff;
}

footer i {
  margin-right: 13px;
}

footer img {
  width: 100px;
  filter: invert(100%);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  body {
    height: 100%;
  }
}
h1 {
  font-family: "shrikhand";
  font-size: 26px;
}

h2 {
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 15px;
}

::first-letter {
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

a, a:hover, a:visited {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */