
@import "./sass/utils/variables";
@import "./sass/utils/fonction";
@import "./sass/utils/mixins";
@import "./sass/layouts/header";
@import "./sass/layouts/explorer";
@import "./sass/layouts/fonctionnement";
@import "./sass/layouts/restaurant";
@import "./sass/layouts/menu";
@import "./sass/layouts/footer";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'shrikhand';
}

h2{
    font-size: 24px;
    font-weight: 800;
}

h3{
    font-size: 18px;
}

p{
    font-size: 15px;
}

::first-letter{
    text-transform: uppercase;
}

ul{
    list-style: none;
    padding-left: 0;
}

ul li{
    padding-left: 0;
}

a, a:hover, a:visited{
    text-decoration: none;
}
