*{
    box-sizing: border-box;
}

::first-letter{
    text-transform: uppercase;
}

ul{
    list-style: none;
    padding-left: 0;
}

ul li{
    padding-left: 0;
}

img{
    width: 100%;
}

@import "./sass/utils/variables";
@import "./sass/utils/fonction";
@import "./sass/utils/mixins";
@import "./sass/layouts/header";
@import "./sass/layouts/explorer";
@import "./sass/layouts/fonctionnement";
@import "./sass/layouts/restaurant";
@import "./sass/layouts/footer";

a, a:hover, a:visited{
    text-decoration: none;
}
