#chargement{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, $couleur-fond-secondaire,$couleur-fond-tertiaire);;
    height: 100vh;
    width: 100%;
    animation: disparition 1s linear 40s 1 normal both;
    p{
        position: absolute;
        left: center;
        top: 60vh;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 18px;
        color: $couleur-fond-blanc;
    }
    .sablier{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 21vh;
        width: 21vw;
        padding: 1vh;
        background-color: $couleur-fond-primaire;
        border-radius: 5%;
        .sablier{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: $couleur-fond-blanc;
            height: 100%;
            width: 100%;
            border: solid $couleur-fond-blanc 3px;
            &.partie{
                display: flex;
                justify-content: flex-end;
            &--1{
                display: flex;
                justify-content: flex-end;
                height: 48%;
                border-radius: 3% 3% 30% 30%;
                &.remplissage{
                    height: 100%;
                    width: 100%;
                    border: none;
                    padding: 0;
                    background: linear-gradient(to bottom right, $couleur-fond-secondaire,$couleur-fond-tertiaire);
                    transform-origin: top;
                    animation: sablier-tombe 1s ease-in-out 0s 2 alternate both;
                }
            }
            &--2{
                height: 4%;
                width: 40%;
                background-color: $couleur-fond-blanc;
            }
            &--3{
                display: flex;
                justify-content: flex-end;
                height: 48%;
                border-radius: 30% 30% 3% 3%;
                background-color: $couleur-fond-blanc;
                &.remplissage{
                    height: 100%;
                    width: 100%;
                    border: none;
                    padding: 0;
                    background: linear-gradient(to bottom right, $couleur-fond-secondaire,$couleur-fond-tertiaire);
                    transform-origin: bottom;
                    animation: sablier-tombe 1s ease-in-out 0s 2 alternate-reverse both;
                }
            }
        }
        }
    }
}

