#chargement{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: $couleur-fond-secondaire;
    height: 100vh;
    width: 100%;
    animation: disparition 2s linear 0.5s 1 normal both;
    .sablier{
        height: 21vh;
        width: 21vw;
        padding: 2vh;
        background-color: $couleur-fond-blanc;
    }
}

