@mixin couleur-fond-et-texte($couleur-fond: $couleur-fond-blanc) {
    background-color: $couleur-fond;
    color: couleur-police($couleur-fond);
}

@mixin cercle-parfait($diametre) {
    height: $diametre;
    width: $diametre;
    border-radius: $diametre/2;
}