
$couleur-fond-primaire: #9356DC;
$couleur-fond-secondaire: #FF79DA;
$couleur-fond-tertiaire: #99E2D0;
$couleur-fond-blanc: #fff;
$couleur-fond-noir: #000;

$couleur-police-fond-clair: #000;
$couleur-police-fond-fonce: #fff;


$police-taille:(
    taille-h1: 29px,
    taille-h2: 25px,
    taille-h3: 19px,
    taille-p: 15px
);

$police-epaisseur: (
    epaisseur-h1: 1000,
    epaisseur-h2: 900,
    epaisseur-h3: 800,
    epaisseur-p-gras: 700,
    epaisseur-p-normal: 400
);

$border-radius: (
    border-radirus-mobile: 15px,
    border-radius-tablette: 20px
);

$paddings: (
    padding-ecran: 25px,
    padding-carte-texte: 15px
);



