#fonctionnement{
    @include couleur-fond-et-texte($couleur-fond-blanc);
    display: flex;
    flex-direction: column;
    padding: map-get($paddings, padding-ecran);
    .btn{
        height: 70px;
        position: relative;
        display: flex;
        flex-direction: row;
        @include couleur-fond-et-texte($couleur-fond-gris-clair);
        align-items: center;
        margin-bottom: 25px;
        border-radius: map-get($map: $border-radius, $key: border-radius-mobile);
        box-shadow: 5px 5px 15px 3px rgba(100, 100, 100, .2);
        &:hover{
            @include couleur-fond-et-texte($couleur-fond-fonctionnement-hover);
            i{
                color: $couleur-fond-primaire;
            }
        }
        i{
            margin: 0 15px 0 15px;
        }
        p{
            &:first-child{
                position: absolute;
                left: -9px;
                top: center;
                height: 18px;
                width: 18px;
                border-radius: 9px;
                text-align: center;
                @include couleur-fond-et-texte($couleur-fond-primaire);
            }
        }
    }
}

@media screen and (min-width: 600px) {
    #fonctionnement{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .btn{
            width: 31%;
        }
        h2{
            display: flex;
            width: 100%;
        }
    }
}