footer{
    display: flex;
    flex-direction: column;
    @include couleur-fond-et-texte($couleur-fond-noir);
    padding: map-get($paddings, padding-ecran);
    a{
        @include couleur-fond-et-texte($couleur-fond-noir);
    }
}

footer i{
    margin-right: 13px;
}

footer img{
    width: 100px;
    filter: invert(100%);
}