footer{
    display: flex;
    flex-direction: column;
    @include couleur-fond-et-texte($couleur-fond-noir);
    padding: 10px;
}

footer i{
    margin-right: 10px;
}

footer img{
    width: 100px;
    filter: invert(100%);
}