header{
    position: relative;
    @include couleur-fond-et-texte($couleur-fond-blanc);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    img:nth-child(1){
        width: 45%;
        display: flex;  
        margin: map-get($paddings, padding-ecran) map-get($paddings, padding-ecran) map-get($paddings, padding-ecran)/4 map-get($paddings, padding-ecran);
    }
    img:nth-child(2){
        width: 100%;
        display: flex;
        overflow: visible;
    }
    a{
        position: absolute;
        top: map-get($paddings, padding-ecran);
        left: 25px;
    }
}

header i, header i:hover, header i:visited{
    @include couleur-fond-et-texte($couleur-fond-blanc);
}