header{
    @include couleur-fond-et-texte($couleur-fond-blanc);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: map-get(paddings, padding-carte-texte);
}

header img{
    width: 45%;
    display: flex;
}