#restaurants{
    padding: map-get($paddings, padding-ecran);
    @include couleur-fond-et-texte($couleur-fond-gris-clair);
    a{
        width: 100%;
        text-decoration: none;
        @include couleur-fond-et-texte($couleur-fond-blanc);
        &:visited{
            @include couleur-fond-et-texte($couleur-fond-blanc);
        }
        &:hover{
            @include couleur-fond-et-texte($couleur-fond-blanc);
        }
    }
}

#restaurants{
    a{
        position: relative;
        display: flex;
        flex-direction: column;
        height: $hauter-image-restaurant-index-mobile + 2 * map-get($paddings, padding-carte-texte) + $hauteur-p-restaurant-index-mobile + $hauteur-h3-restaurant-index-mobile;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 25px;
        box-shadow: 5px 5px 15px 3px rgba(100, 100, 100, .2);
        img {
            height: $hauter-image-restaurant-index-mobile;
            object-fit: cover;
            border-radius: 25px 25px 0px 0px;
        }
        h3{
            margin: map-get($paddings, padding-carte-texte) 0 0 map-get($paddings, padding-carte-texte);
            height: $hauteur-h3-restaurant-index-mobile;
        }
        p{
            margin: 0 0 map-get($paddings, padding-carte-texte) map-get($paddings, padding-carte-texte);
            height: $hauteur-p-restaurant-index-mobile;
        }
        .remplissage{
            display: flex;
            position: absolute;
            cursor: pointer;
            bottom: map-get($paddings, padding-carte-texte);
            right: 25px;
        }
          .remplissage .fa-full {
            opacity: 0;
            transition: 1s;
            background: linear-gradient(#9356DC 20%, #FF79DA);
            background-clip: text;
            color: transparent;
          }
          .remplissage .fa-full:hover {
            opacity: 1;
          }
        .nouveau{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 0;
            background-color: $couleur-fond-tertiaire;
            color: darken($couleur-fond-tertiaire, 40%);
            border-radius: 5px;
            p{
                padding: 0;
                text-align: center;
                margin: 6px 10px 6px 10px;
                font-weight: 500;
            }
        }
    }
}
