#restaurants{
    @include couleur-fond-et-texte($couleur-fond-blanc);
    a{
        width: 100%;
        text-decoration: none;
        @include couleur-fond-et-texte($couleur-fond-blanc);
        &:visited{
            @include couleur-fond-et-texte($couleur-fond-blanc);
        }
        &:hover{
            @include couleur-fond-et-texte($couleur-fond-blanc);
        }
    }
}

#restaurant{
    .carte{
        .restaurant--carte{
            border-radius: map-get($map: $border-radius, $key: border-radius-mobile);
        }
    }
}
