#restaurants{
    padding: map-get($paddings, padding-ecran);
    @include couleur-fond-et-texte($couleur-fond-gris-clair);
    a{
        width: 100%;
        text-decoration: none;
        @include couleur-fond-et-texte($couleur-fond-blanc);
        &:visited{
            @include couleur-fond-et-texte($couleur-fond-blanc);
        }
        &:hover{
            @include couleur-fond-et-texte($couleur-fond-blanc);
        }
    }
}

#restaurants{
    a{
        position: relative;
        display: flex;
        flex-direction: column;
        height: hauteur-carte-restuarant($mobile);
        width: 100%;
        margin-bottom: 15px;
        border-radius: 25px;
        box-shadow: 5px 5px 15px 3px rgba(100, 100, 100, .2);
        img {
            height: $hauter-image-restaurant-index-mobile;
            object-fit: cover;
            border-radius: 25px 25px 0px 0px;
        }
        h3{
            margin: map-get($paddings, padding-carte-texte) 0 0 map-get($paddings, padding-carte-texte);
            height: $hauteur-h3-restaurant-index-mobile;
        }
        p{
            margin: 0 0 map-get($paddings, padding-carte-texte) map-get($paddings, padding-carte-texte);
            height: $hauteur-p-restaurant-index-mobile;
        }
        i{
            position: absolute;
            bottom: 35px;
            right: 50px;
        }
    }
}
